/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-position: center;
  background: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

/* common */
.container {
  max-width: 1800px;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  font-family: "Cinzel", serif;
}

h3 {
  color: rgb(255, 179, 0);
  font-size: 54px;
  font-weight: bold;
}
h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

.title-head {
  position: relative;
}

a {
  text-decoration: none;
}

a:hover {
  transition: 0.4s ease-in-out;
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: #cea250;
}

.btn {
  height: 50px;
  width: 100px;
  background: white;
  box-shadow: 0px 0px 10px 0px;
}

.wrapper {
  padding: 30px 80px 40px 80px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.section-title {
  margin-bottom: 40px;
  position: relative;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 0;
  height: 5px;
  width: 9%;
  background: #ffffff;
  box-shadow: 0px 0px 3px -1px;
}
/* common typo ends */

/* header starts */
.site-header {
  position: relative;
  z-index: 5;
}

.site-header .site-nav {
  position: relative;
}
.site-header .site-nav .contents {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px 30px 15px 30px;
  background-color: #000000;
  /* background-color: black; */
  /* border-radius: 5px 5px; */
  /* box-shadow: 10px 10px white; */
}
.profile-img {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
/*   border-radius: 33% 47% 42% 51%; */
/*   box-shadow: 5px 0 44px -2px #ffd949;
  box-shadow: 6px 0px 4px 1px #ffffff;
  background: #03a9f4; */
  overflow: hidden;
}
.profile-img:hover {
/*   background: turquoise; */
}
.profile-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 100%;
  transition: all 0.6s ease-in-out;
  transform: scale(1.2);
}
.site-header .site-nav ul.nav-lists {
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
}
/* Nav lsits open on burger menu hover  */
.responsive-nav:hover.burger-menu {
  background-color: green;
  display: none;
}
.site-header .site-nav ul.nav-lists li {
  margin: 0 15px;
}
.site-header .site-nav ul.nav-lists li:first-child {
  margin-left: 0;
}
.site-header .site-nav ul.nav-lists li:last-child {
  margin-right: 0;
}
.site-header .site-nav li a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 800;
  font-family: "Cinzel", serif;
  position: relative;
  font-style: normal;
  color: #cea250;
  /* color: goldenrod; */
  transition: 0.4s ease;
}

.mobile-nav {
  display: none;
}
.main-nav {
  display: none;
  position: absolute;
  transform: translate(0%, -50%);
  padding: 7px 0px 6px 5px;
  background: #d0d0d0;
  left: 68px;
  border-radius: 0px 0px 50px 0px;
  transition: all 5s ease;
  box-shadow: 4px 0px 6px 1px #018198;
}
.burger-menu:hover .main-nav {
  display: block;
  transition: all 2s ease;
}
.responsive-nav {
  position: relative;
  height: 4px;
  width: 36px;
  background-color: white;
  cursor: pointer;
}
.burger-menu:hover .responsive-nav {
  height: 0;
}
.burger-menu:hover .responsive-nav::after {
  top: 0px;
  transform: rotate(-56deg);
  transition: all 0.4s ease-in-out;
}
.burger-menu:hover .responsive-nav::before {
  top: 0px;
  transform: rotate(45deg);
  transition: all 0.4s ease-in-out;
}
.responsive-nav:before {
  content: "";
  height: 4px;
  width: 36px;
  top: -10px;
  position: absolute;
  background: white;
}
.responsive-nav::after {
  content: "";
  height: 4px;
  width: 36px;
  top: 10px;
  position: absolute;
  background: white;
}
.site-nav .nav-lists li a:after {
  content: "";
  height: 24.5px;
  position: absolute;
  background: rgb(173 173 173);
  left: -9px;
  bottom: 5px;
  transition: 0.4s ease-in-out;
  width: 0;
}
.nav-lists li a:hover {
  color: rgb(173 173 173);
}
.nav-lists li a:hover::after {
  width: 3px;
}
.open {
  display: block;
}
/* Header section ends */

/* Banner Section Starts */
.hero .wrapper::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  border-radius: 0px 0px 300px 0;
  top: 0;
  background: linear-gradient(rgb(0, 0, 0), #f6f9ff);
  background: black;
  opacity: 1;
  /* background: url("../img/background1.jpg");
  background-size: cover;
  background-attachment: fixed; */
  /* background-position: center; */
}
/* .hero .wrapper::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: .1;
  background: #000000;
  border-radius: 0px;
  z-index: 1;
  pointer-events: none;
} */
.hero .wrapper {
  /* background: url("../img/background1.jpg") no-repeat; */
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  padding: 240px 150px 75px 150px;
  border-radius: 0px 0px 300px 0;
  text-align: left;
  box-shadow:0px 2px 13px -9px #000000;
  position: relative;
  overflow: hidden;
}
.hero .wrapper {
  font-family: "Dancing Script", sans-serif;
  font-weight: bold;
  color: antiquewhite;
}

/* .hero .row {
  display: flex;
  justify-content: end;
  position: relative;
} */

.hero .row {
  display: flex;
  justify-content: center;
  position: relative;
}

/* .hero .wrapper .col-1 {
  display: flex;
  align-items: end;
  z-index: 2;
} */

.hero .wrapper .col-1 {
  display: flex;
  align-items: center;
  z-index: 2;
}

.hero .wrapper .col-1 .img {
  height: 350px;
  width: 250px;
  z-index: 2;
}

.hero .wrapper .col-1 .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}





/* .hero .wrapper .col-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  background: url("../img/banner-img.png");
  background-size: cover;
} */

.hero .wrapper .col-2 .btn {
  height: 50px;
  width: 193px;
  background: black;
  box-shadow: none;
  text-align: center;
  border-radius: 3px 0px 0px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: goldenrod;
  font-size: 20px;
  font-family: "Cinzel";
  box-shadow: 0px 0px 2px 0px #ffffff;
}

.hero .wrapper .col-2 .btn:hover {
  box-shadow: 0px 0px 2px 0px #b300ff;
}

.hero .wrapper .col-2 .text span {
  color: #9f0092;
}

.hero .wrapper .banner-contents {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0px 40px 0px 40px;
  margin-left: auto;
  position: relative;
  border-left: 4px solid #9f0092;
  z-index: 2;
}

.banner-contents .text {
  padding-bottom: 10px;
  color: #cea250;
}

.banner-contents .social-handle {
  padding-bottom: 70px;
}

.hero .wrapper h2 {
  font-size: 54px;
  padding-bottom: 30px;
  font-family: "Cinzel";
}

.hero .wrapper p {
  font-size: 28px;
  padding-bottom: 20px;
  font-family: "Cinzel", serif;
  color: #cea250;
}

.hero .social-handle {
  display: flex;
}

.hero .social-handle a:hover {
  transition: all 0.7s ease;
}

.hero .social-handle a i.fa {
  font-size: 24px;
  color: #000000;
}

.hero .social-handle a:hover i.fa {
  transform: scale(1.08);
  transition: all 0.7s ease;
}

.hero .social-handle a i.fa {
  transition: all 0.9s ease;
  transform: rotate(16deg);
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.hero .social-handle a {
  height: 53px;
  width: 53px;
  border-radius: 50%;
  background-color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  overflow: hidden;
}

.hero .social-handle a i.fa {
  transition: 0.7s ease;
}

.hero .social-handle a i.fa.fa-facebook {
  color: #00119f;
}

.hero .social-handle a i.fa.fa-twitter {
  color: #00d9ff;
}
.hero .social-handle a i.fa.fa-instagram {
  color: #59008c;
}

.hero .social-handle a i.fa.fa-youtube {
  color: #ff3636;
}
.hero .social-handle a:hover {
  box-shadow: 1px 0px 8px 0px #ffffff;
}

.bird {
  position: absolute;
  bottom: 106%;
  left: 32px;
  transform: rotate(180deg);
}

.bird img {
  height: 59px;
  width: 64px;
  position: absolute;
  left: 0;
  bottom: 0;
  object-fit: cover;
  opacity: 1;
  pointer-events: none;
  transition: 1s;
}
/* Banner section ends */

/* About Section Starts*/
.About-Section .wrapper::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
}
.About-Section .wrapper {
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.About-Section .wrapper .row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.About-Section .col-1 {
  z-index: 1;
  display: flex;
  align-items: center;
}

.About-Section .row .col-1 .img {
  height: 300px;
  width: 390px;
  overflow: hidden;
}

.About-Section .row .col-1 .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0;
  transition: 0.7s ease;
}

.About-Section .row .col-1 img:hover {
  transform: scale(1.03);
}

.About-Section .wrapper .row .col-2 {
  color: #ffffff;
  display: flex;
}

.About-Section .wrapper .col-2 .contents {
  display: flex;
  align-items: center;
  z-index: 1;
  max-width: 553px;
}

.About-Section .col-2 .content-wrapper {
  text-align: justify;
  padding-left: 20px;
  border-left: 5px solid rgb(255, 255, 255);
  transition: 0.4s ease;
}

.About-Section .col-2 .content-wrapper:hover {
  border-left: 5px solid rgb(255, 179, 0);
}

.About-Section .col-2 h4 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #f0e68c;
  color: #cea250;
  font-family: "Monda";
}
.About-Section .col-2 p {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 800;
  max-width: 490px;
  font-family: "Monda";
}

.About-Section .col-2 p:nth-child(2) {
  font-size: 20px;
}

.About-Section .col-2 p:nth-child(3) {
  font-size: 18px;
}
/* About Section Ends*/

/* skills starts */
.skills .row {
  padding: 100px;
  justify-content: space-around;
  box-shadow: 0px 0px 11px 1px #ffffff;
  background: #000000;
  border-radius: 5px;
}

.skills .contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.skills h4 {
  color: goldenrod;
  margin-bottom: 30px;
  text-align: center;
}
.skills .contents .circular-box .outer {
  height: 200px;
  width: 200px;
  margin: auto;
  background: rgb(255, 255, 255);
  background: conic-gradient(#9f0092 3.6deg, white 0deg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 25px;
  box-shadow: 0px 0px 17px -13px black, 0px 0px 17px -13px grey;
}

.skills .contents .outer::before {
  content: "";
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  position: absolute;
  box-shadow: inset 5px 5px 25px -17px black;
}

.skills .contents .circular-box span.text {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: goldenrod;
  font-family: "Monda";
  text-align: center;
}

.skills .col .skill-bar {
  display: flex;
  align-items: center;
}

.skills .col p.title {
  padding: 5px 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}
.skills .col .skill-bar .bar {
  height: 17px;
  width: 300px;
  background: rgb(255, 255, 255);
  border-radius: 1px;
  margin-right: 10px;
  box-shadow: 0px 0px 2px 0px rgb(197 197 197);
  position: relative;
  /* border: 1px solid gainsboro; */
}

.skills .col .skill-bar p.percentage {
}

.skills .col .skill-bar .bar::before {
  content: "";
  height: 100%;
  width: 95%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0px 0px 7px 0px white;
  background-color: rgb(255 176 0);
}

.skills .col .skill-bar .js::before {
  width: 90%;
}

span.progress-value {
  font-size: 24px;
  color: goldenrod;
  font-family: "Monda";
  position: relative;
  font-weight: bold;
}

/* Resume Section Starts */

.resume .wrapper .section-title {
  margin-bottom: 60px;
}

.resume .section-title p {
  color: white;
  text-align: justify;
}

.resume .row {
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background: #ffffff;
  border-radius: 100px 7px 100px 7px;
  position: relative;
  box-shadow: 0px 0px 14px -7px #000000;
  transition: all 0.7s ease;
}

.resume .row .col {
  padding: 50px 80px;
  flex: 0 0 50%;
}

.resume-title {
  margin: 15px -15px;
  display: flex;
}

.resume-title img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
  box-shadow: -5px 0px 0px 4px #116389;
}

.resume-title h4 {
  display: flex;
  align-items: center;
}

.resume-item {
  padding-bottom: 10px;
  border-left: 2px solid #ffbc00;
  padding-left: 20px;
  position: relative;
}

.resume-item::after {
  content: "";
  height: 17px;
  width: 17px;
  background: #ffffff;
  border-radius: 50px;
  border: 3px solid #ffbc00;
  position: absolute;
  left: -12px;
  top: -1px;
}

.resume-item li {
  list-style: inside;
}

.resume-item p {
  margin-bottom: 10px;
  font-family: "Monda";
  color: teal;
  font-weight: 800;
}

.resume-item p.italic {
  font-style: italic;
}
.resume .row h4 {
  color: #014477;
}

.resume-item h5 {
  margin-bottom: 20px;
}
.resume-item h6 {
  font-size: 21px;
  margin-bottom: 20px;
  background: #0aff85;
  font-weight: 800;
  font-family: "Cinzel";
  width: fit-content;
  font-style: italic;
  padding: 5px 8px;
}

.resume-item a {
  font-size: 20px;
  font-weight: 700;
  color: #636363;
  font-family: "Monda";
}
/* resume section ends */

/* portfolio section starts */
.portfolio .wrapper {
  padding-bottom: 130px;
}

.portfolio .slide-btn {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.portfolio #btn {
  height: 50px;
  width: 50px;
  background: #ffffff;
  margin: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px -5px rgb(157, 157, 157);
  border-radius: 5px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.portfolio #btn:hover {
  background: #e6e6e6;
}

.portfolio #btn img {
  height: 30px;
  width: 30px;
  object-fit: cover;
}

.portfolio .wrapper .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-shadow: 0px 0px 18px -13px;
  border-radius: 4px;
  padding: 30px;
}

.portfolio .wrapper .row .col {
  flex: 0 0 30%;
  margin: 20px 10px;
}

.portfolio .col .img {
  height: 215px;
  width: 100%;
  background-color: whitesmoke;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0px 0px 6px 0px rgb(94, 94, 94);
}

.portfolio .col .img img:hover {
  content: "";
  height: 100%;
  width: 100%;
  background: grey;
  opacity: 0.4;
  position: absolute;
  transition: 0.4s ease-in-out;
}
.portfolio .col .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}
/* portfolio section ends */

/* footer section starts */
.site-footer .section-title {
  margin-bottom: 80px;
}

.site-footer .wrapper {
  position: relative;

  border-radius: 100px 300px 200px 100px;
}
.site-footer .wrapper {
  padding-bottom: 60px;
  background: white;
  border-radius: 0px 0px 0px 0px;
  background: #000000;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}

.site-footer .row {
  justify-content: space-around;
  position: relative;
  background: transparent;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 0px 0px 0px 0px;
}
.site-footer .row .col {
  flex: 0 0 25%;
}
.site-footer .content {
  text-align: center;
  margin: 40px 0;
  transition: 0.4s ease-out;
}

.site-footer .content a {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 800;
  color: #cea250;
  font-family: cursive;
  width: 50px;
  margin: auto;
}

.site-footer .content:hover {
  transform: scale(1.08);
}

.site-footer .content a:first-child {
  max-width: 50px;
  margin: auto;
}

.site-footer .content a i {
  margin-bottom: 30px;
}
.site-footer .content i.fa.fa-3x {
  color: #ffffff;
}

/* Responsive Media Query Starts*/

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1230px) {
  .container {
    max-width: 1204px;
  }
}

@media screen and (max-width: 1295px) {
  .hero .wrapper::after {
    left: 0;
  }
}
/* Wider */
@media screen and (max-width: 1200px) {
  .wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }

  .hero .wrapper::after {
    left: 0;
  }

  .hero .wrapper .col-1 .img {
    height: 250px;
    width: 200px;
  }
  .About-Section .wrapper .col-2 .contents {
    max-width: 500px;
  }
  .About-Section .content-wrapper h4 {
    font-size: 35px;
  }
  .About-Section .content-wrapper p {
    font-size: 18px;
  }
}
@media screen and (max-width: 1122px) {
  .hero .row {
    justify-content: left;
  }
  .hero .row .col-1 {
    margin: inherit;
  }

  .hero .wrapper .col-1 .img {
    height: 250px;
    width: 250px;
  }

  .hero .wrapper::after {
    left: 0;
  }

  .hero .wrapper .banner-contents {
    padding: 24px 40px 0px 40px;
    border-left: 3px solid ivory;
  }
}

/* Wide Desktop*/
@media screen and (max-width: 1024px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero .wrapper {
    padding-top: 145px;
  }

  .hero .wrapper::after {
    left: 0;
  }

  .hero .wrapper .col-1 .img {
    height: 250px;
    width: 180px;
  }

  .hero .col-2 .banner-contents {
    padding: 24px 30px 53px 40px;
  }

  .banner-contents .text h2 {
    font-size: 44px;
  }

  .banner-contents .text p {
    font-size: 24px;
  }

  .About-Section .row .col-1 .img {
    height: 250px;
    width: 350px;
  }

  .About-Section .wrapper .col-2 .contents {
    max-width: 420px;
  }

  .About-Section .col-2 .content-wrapper {
    padding-left: 12px;
  }

  .About-Section .col-2 h4 {
    font-size: 30px;
    margin-bottom: 12px;
  }

  .About-Section .col-2 p {
    font-size: 16px;
    margin-bottom: 7px;
  }

  .About-Section .col-2 p:nth-child(2) {
    font-size: 16px;
  }

  .About-Section .col-2 p:nth-child(3) {
    font-size: 16px;
    margin-bottom: 0;
  }

  .portfolio .wrapper .row {
    padding: 30px 0px;
  }

  .resume .row .col {
    padding: 50px 40px;
  }

  .portfolio .wrapper .row .col {
    margin: 10px 0;
  }

  .portfolio .col .img {
    height: 162px;
  }
}
/* Landscape Mode */
@media screen and (max-width: 991px) and (orientation: landscape) {
  .site-header .contents .profile-img {
    height: 110px;
    width: 110px;
  }
  .hero .wrapper {
    padding-top: 150px;
    padding-bottom: 40px;
  }

  .hero .wrapper::after {
    left: 0;
  }

  .hero .col-2 .banner-contents {
    padding: 24px 0px 0px 17px;
  }

  .hero .col-2 .banner-contents h2 {
    padding-bottom: 10px;
  }
}

.skills .row {
  padding: 100px 0px;
}
/* Tablet Screen Mode */
@media screen and (max-width: 839px) {

  .hero .wrapper::after {
    left: 0;
  }

  .hero .wrapper::before {
    background-position: right;
  }

  .hero .wrapper .col-1 .img {
    height: 250px;
    width: 250px;
  }


  .profile-img {
    height: 100px;
    width: 100px;
  }

  .mobile-nav {
    display: block;
    overflow: hidden;
    position: fixed;
    top: 10%;
    left: 10px;
    top: 14px;
    transition: 1s;
    z-index: 999;
  }
  .site-header .contents .burger-menu .bar1,
  .bar2,
  .bar3 {
    height: 5px;
    width: 40px;
    margin: 6px 0px;
    background: linear-gradient(188deg, red, rgb(173, 0, 0));
    transition: 0.5s ease-out;
    border-radius: 2px;
  }
  .burger-menu {
    margin-top: 1px;
    cursor: pointer;
    display: inline-block;
  }
  .bar2 {
    width: 30px;
  }
  .bar3 {
    width: 20px;
  }
  .change .bar1 {
    transform: translate(0px, 11px) rotate(135deg);
  }

  .change .bar2 {
    opacity: 0;
    transition: none;
  }

  .change .bar3 {
    transform: translate(0px, -11px) rotate(-135deg);
    width: 40px;
  }

  ul.mobile-nav-list {
    display: none;
  }

  ul.mobile-nav-list {
    width: 0;
    /* overflow: hidden; */
    position: absolute;
    transition: 1s ease-in-out;
    display: none;
    top: -200px;
  }
  .is-opened .mobile-nav-list {
    width: 60%;
    display: block;
    left: 0px;
    top: 100px;
    transition: 1s;
    height: 100vh;
  }
  .is-opened .mobile-nav-list li {
    padding-left: 38px;
    padding-top: 20px;
  }
  .is-opened .mobile-nav-list li a::before {
    content: "";
    height: 2.5px;
    width: 21px;
    background: linear-gradient(89deg, white, blue 75%);
    position: absolute;
    left: -26px;
    top: 50%;
    border-radius: 1px;
    transition: 0.7s ease;
  }
  .is-opened .mobile-nav-list li a {
    padding-left: 5px;
  }
  .is-opened .mobile-nav-list li a:hover::before {
    width: 100%;
    content: "";
    left: 0;
    /* transform: rotate(180deg); */
  }
  .is-opened {
    height: 100vh;
    width: 100%;
    transition: 1s;
  }
  .menu-overlay {
    content: "";
    height: 100%;
    width: 100%;
    background: #000000 !important;
    background: black !important;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 2;
    display: none;
  }
  body.menu-open {
    overflow-y: hidden;
  }
  body.menu-open .menu-overlay {
    display: block;
  }
  .site-nav .contents {
    padding: 30px 0px;
  }
  .site-nav .contents .profile-img {
    margin: 0 30px;
    margin-left: auto;
  }
  .open {
    display: none;
  }
  .burger-menu .menu {
    display: block;
  }
  .hero .wrapper::after {
    display: none;
  }

  .About-Section .wrapper .col-2 .contents {
    max-width: 334px;
  }
}

@media screen and (max-width: 768px) {
  .hero .wrapper {
    padding: 180px 150px 20px 60px;
  }

  .hero .wrapper::before {
    background-position: right;
  }

  .hero .wrapper::after {
    left: 0;
  }

  .hero .wrapper .col-2 .banner-contents {
    padding: 18px 0px 10px 30px;
  }

  .About-Section .col {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .About-Section .row .col-1 .img {
    height: 300px;
    width: 390px;

  }

  .About-Section .wrapper .col-2 .contents {
    max-width: 472px;
  }

  .About-Section .col-2 h4 {
    word-spacing: 0;
  }

  .About-Section .col-2 p:nth-child(2) {
    font-size: 18px;
  }

  .About-Section .col-2 p:nth-child(3) {
    font-size: 18px;
  }

  .skills .contents .circular-box span.text {
    margin-bottom: 38px;
  }

  .resume .row .col {
    flex: 0 0 100%;
  }

  .portfolio .wrapper .row {
    justify-content: space-between;
    padding: 20px;
  }

  .portfolio .wrapper .row .col {
    flex: 0 0 50%;
    margin: 0;
    padding: 15px 10px;
  }

  .portfolio .col .img {
    height: 185px;
    width: 100%;
  }

  .site-footer .row .col {
    flex: 0 0 50%;
  }
}
/* For Mobile Phones (Small) */
@media screen and (max-width: 576px) {
  h3 {
    font-size: 40px;
  }
  .hero .wrapper {
    padding: 180px 48px 75px 60px;
  }

  .hero .wrapper::after {
    left: 0;
  }

  .hero .wrapper::after {
    left: 0;
  }

  .banner-contents .text h2 {
    font-size: 32px;
  }

  .banner-contents .text p {
    font-size: 20px;
  }

  .hero .social-handle a {
    height: 45px;
    width: 45px;
    margin-right: 14px;
  }

  .About-Section .wrapper .col-2 .contents {
    max-width: 409px;
  }

  .skills .contents .circular-box span.text {
    font-size: 28px;
    color: goldenrod;
  }

  .skills .col .skill-bar .bar {
    width: 230px;
  }

  .resume .row {
    border-radius: 50px 7px 50px 7px;
  }

  .resume .row .col {
    padding: 50px 25px 0 34px;
  }

  .resume-item p {
    font-size: 18px;
  }

  .resume-item a {
    font-size: 17px;
  }

  .portfolio .wrapper .row .col {
    flex: 0 0 100%;
    margin: 0;
    padding: 15px 0px;
  }
}

/* For Mobile Phones (Extra Small) */
@media screen and (max-width: 390px) {
  .hero .wrapper::after {
    left: 0;
  }

  .banner-contents .text h2 {
    font-size: 28px;
  }
  .About-Section .row .col-1 .img {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .hero .wrapper::after {
    left: 0;
  }

  .hero .social-handle a {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }

  .About-Section .row .col-1 .img {
    width: 300px;
}

  .skills .col .skill-bar .bar {
    width: 160px;
  }

  .site-footer .row .col {
    flex: 0 0 100%;
  }

  .skills .contents .circular-box span.text {
    font-size: 24px;
  }
}

@media screen and (max-width: 333px) {
  .wrapper {
    padding-bottom: 15px;
  }

  .hero .wrapper {
    padding: 180px 1px 75px 21px;
  }
  .hero .wrapper::after {
    left: 0;
  }

  .banner-contents .text h2 {
    font-size: 20px;
  }
  .banner-contents .text p {
    font-size: 14px;
    max-width: 264px;
  }
  .hero .social-handle a {
    margin-right: 7px;
  }

  .About-Section .row .col-1 .img {
    width: 230px;
  }

  .About-Section .col-2 h4 {
    font-size: 18px;
  }

  .About-Section .col-2 p:nth-child(2) {
    font-size: 13px;
  }
  .About-Section .col-2 p:nth-child(3) {
    font-size: 14px;
  }

  .resume .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .resume .row {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
  }

  .resume-item {
    padding-left: 12px;
  }

  .resume-item h5 {
    font-size: 20px;
  }

  .resume-item p {
    font-size: 14px;
    max-width: 234px;
  }

  .resume-title {
    margin: 15px 0px;
  }

  .resume-title img {
    height: 33px;
    width: 33px;
  }

  .resume .row .col {
    padding: 50px 0px 0 0px;
  }
}


/* Css Animation on Scroll */


.About-Section .hidden {
  transform: rotate(-20deg);
  transition: all 1.5s;
}

.About-Section .show {
  transform: rotate(0);
}


.site-footer .hidden {
  transform: rotate(20deg);
  transition: all 1.1s;
}

.site-footer .show {
  transform: rotate(0);
}

.hero .hidden {
  transition: all 1.5s;
}


.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translate(-100%);
  transition: all 1.1s;
}

.show {
  opacity: 1;
  transform: translate(0);
  filter: blur(0px);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.hero .social-handle a:nth-child(1) {
  transition-delay: 500ms;
}

.hero .social-handle a:nth-child(2) {
  transition-delay: 600ms;
}

.hero .social-handle a:nth-child(3) {
  transition-delay: 800ms;
}

.hero .social-handle a:nth-child(4) {
  transition-delay: 900ms;
}


.portfolio .row .col:nth-child(1) {
  transition-delay: 400ms;
}

.portfolio .row .col:nth-child(2) {
  transition-delay: 600ms;
}

.portfolio .row .col:nth-child(3) {
  transition-delay: 800ms;
}

.portfolio .row .col:nth-child(4) {
  transition-delay: 1s;
}
.portfolio .row .col:nth-child(5) {
  transition-delay: 1.2s;
}

.portfolio .row .col:nth-child(6) {
  transition-delay: 1.3s;
}

/* CSS PARTS ENDS */
